@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
.word {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 12rem;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  background-color: #ffeed0;
  width: 380px;
  height: 90px;
  margin-inline: auto;
  border-radius: 0.5069rem;
  transition: background-color 1s ease-in-out;

  @include responsive(laptop) {
    width: 430px;
    height: 90px;
    margin-top: 4rem;
    font-size: 1.3rem;
  }
}

.button {
  width: 152px;
  height: 42px;
  background: #6b5e48;
  border: none;
  padding: 0.75rem 2.75rem 0.75rem 2.75rem;
  border-radius: 0.75rem;
  @include hover {
    background: #7e6e52;
  }
}

// .trys,
.history,
.pop-up {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.correct_word {
  color: rgb(11, 172, 11) 64;
}

.button--correct {
  background-color: #c2e364;
  color: #6c764d;
}

.button--wrong {
  background-color: #e0ddd6;
  color: #bfbaa3;
}

.bg--correct {
  background-color: #e4f2bd;
}

.bg--wrong {
  background-color: #ef8686;
}
