@use '../mixins/responsive.scss' as *;
.keyboard {
  width: 18.75rem;
  height: 7.5rem;
  margin-inline: auto;
  margin-top: 2rem;
  margin-bottom: 8rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  justify-items: center;
  gap: 0.2rem;
  @include responsive(laptop) {
    grid-template-columns: repeat(9, 1fr);
    margin-bottom: 1.25rem;
  }
}

.key {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #3c392d;
  background: none;
  border: 0.1437rem solid #928d75;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.425rem;
}
