@use '../mixins/responsive.scss' as *;
.title {
  font-family: 'Alfa Slab One', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 1%;
  position: relative;
  top: 190px;
  @include responsive(laptop) {
    top: 50px;
    font-size: 25px;
  }
}

.subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15.52px;
  @include responsive(laptop) {
    font-size: 18px;
  }
}

.button--title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 18.15px;
  color: #f6f6f6;
}

.wordline {
  font-size: 1.2rem;
  color: #6b5e48;
  @include responsive(laptop) {
    font-size: 1.5rem;
  }

  &--letter {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 41px;
    color: #6b5e48;
    @include responsive(laptop) {
      font-size: 2.05rem;
    }
  }
}
